.brand-logo {
    min-height: 70px;
    padding: 12px 24px;
}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link,
.sidebar-nav ul .sidebar-item.selected>.sidebar-link.active,
.sidebar-nav ul .sidebar-item>.sidebar-link.active {
    background-color: var(--primary);
    color: #fff;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primaryHover) !important;
    border-color: var(--primaryHover) !important;
}

.btn-primary:active {
    background-color: var(--primary) !important;
    border-color: var(--primary);
}

.btn-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-outline-primary:active {
    color: #fff !important;
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link {
    color: var(--primary);
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link .link-icon {
    color: var(--primary);
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
    background-color: var(--primary);
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--primary) !important;
}

.page-link.active,
.active>.page-link {
    background-color: var(--primary);
    border-color: var(--primary);
}

.page-link {
    color: var(--primary);
}

.sidebar .sidebar-body .nav .nav-item .nav-link::before {
    background-color: #000 !important;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {
    height: 25px;
    color: #000 !important;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

.sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded=true] {
    color: var(--primary);
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active::before {
    background-color: var(--primary) !important;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active {
    color: var(--primary) !important;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active::before {
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-icon {
    color: var(--primary) !important;
    fill: rgba(239, 243, 255, 0.5);
}



.table td img {
    width: 100px;
    height: 100px;
    border-radius: 0px;
    object-fit: contain;
}

.img-table-lightbox {
    width: 150px !important;
    height: 100px !important;
    object-fit: contain;
    border-radius: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
}

.select2-container--default .select2-selection--multiple{
    display: block;
    width: 100%;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e9ecef !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* <div class="card card-statistics">
<div class="card-body">
    <div class="information">
        <h5 class="text-muted">Jumlah Student</h5>
        <h4 class="mb-0">{{ \App\Models\Student::count() }}</h4>
    </div>
    <div class="float-right icon-circle-medium  icon-box-lg  bg-orange-light mt-0">
        <i class="fa fa-users text-orange icon-circle-medium"></i>
    </div>
</div>
</div> */

.card-statistics {
    display: flex;
    border-radius: 26px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.card-statistics .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-statistics .card-body .information {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-statistics .card-body i{
    font-size: 30px;
    color: var(--primary);
}
