.hero{
    background-color: #0087F6;
    color: #fff;
}

.hero-title{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
}

.hero-subtitle{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}


.btn-white{
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

.btn-white:hover{
    background-color: #fff;
    color: #000 !important;
    transform: scale(1.01);
}


.react-header .react-menus li a.react-current-page{
    color: #0087F6 !important;
}

.react-breadcrumbs{
    background-color: #0087F6 !important;
}


.instructors___page .instructor__content .instructor__image img{
    height: 350px;
    object-fit: cover;
}

.breadcrumb__area{
    background-color: #0087F6 !important;
    padding: 50px 0;
    color: #fff;
}


.breadcrumb__title{
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;
    color: #fff !important;
}

.breadcrumb-item a{
    color: #fff !important;
}

.breadcrumb-item.active{
    color: #fff !important;
}


.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.z-index-10{
    z-index: 10;
}

.breadcrumb__content .user-section{
    display: flex !important;
    align-items: center;
    gap: 15px;
}



.breadcrumb__content .user-section .user img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #fff;
    margin-right: 10px;
}

.lesson-card{
    border-radius: 10px;
}

.lesson-card.active{
    background-color: #0087F6;
    color: #fff !important;
}

.lesson-card .card-title{
    color: #000;
}

.lesson-card.active .card-title{
    color: #fff !important;
}

.react-course-title{
    font-size: 18px !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: all 0.3s ease;
}

.react-course-title:hover{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.react-course-filter .single-studies .inner-course .case-content .case-title{
    font-size: 18px !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: all 0.3s ease;
}

.react-course-filter .single-studies .inner-course .case-content .case-title:hover{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.blog-title{
    font-size: 18px !important;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: all 0.3s ease;
}


.blog-title:hover{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.react-course-filter .single-studies .inner-course .case-content ul
{
    flex-direction: column;
}

.react-course-filter .single-studies .inner-course .case-content .react-ratings{
    flex-direction:row;
}

.card-sidebar{
    border-radius: 26px;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.card-sidebar .user .avatar {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-sidebar .user .info h3{
    font-size: 20px;
    font-weight: 600;
}

.card-sidebar  .menus .item {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #999aa4 !important;
}

.card-sidebar  .menus .item a{
    color: #999aa4 !important;
}

.card-sidebar  .menus .item.active {
    color: #0087F6 !important;
}

.card-sidebar  .menus .item.active a{
    color: #0087F6 !important;
}

.card-sidebar .menus .item img {
    overflow: hidden;
    font-size: 12px;
}

.card-sidebar .menus .item p{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-course .card-title{
    font-size: 18px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    transition: all 0.3s ease;
}

.card-course .card-title:hover{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.react-footer.home-main .footer-top .footer-menu li a:hover, .react-footer.home-main .footer-top .footer-widget .footer-address li a:hover, .react-footer.home-main .copyright .react-copy-left a{
    color: #0087F6 !important;
}

.comment {
    margin-left: 20px;
}
.comment-reply {
    border-left: 2px solid #ccc;
    padding-left: 10px;
    margin-left: 40px;
}
